<style>
@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: local('Poiret One'), local('PoiretOne-Regular'), url(http://themes.googleusercontent.com/static/fonts/poiretone/v1/HrI4ZJpJ3Fh0wa5ofYMK8RsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans Light';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}


.brand h1 {

  margin: 0;
  font-size: 0.8em;
  text-align: center;
  color: #A5A6A8;
    
}

.brand h1 span {
  color: #5bb8ce;
}

.navbar {
  font-family:'Open Sans', sans;
margin-bottom: 0px;
border-top: #5bb8ce 1px solid;
display: block;

}

.navbar-inner{
z-index: 101;
}

.navbar .brand {
display: block;
float: left;
padding: 0px 20px 0px;
margin-left: -20px;
font-size: 20px;
font-weight: 200;
color: #777777;
text-shadow: 0 1px 0 #ffffff;
}

.container-fluid {
width: 1208px;
max-width: 100%;
min-width: 768px;
margin: 0 auto;
}

.navbar .nav > li > a {
padding: 10px 15px 5px;
}

.b-userbar__account {
  padding: 0 36px 0 22px;
  position: relative;

}

.b-userbar__account:hover {
  color: #9F9F9F;
}

.b-userbar__account:hover .b-arrow {
  opacity: .75;
}

.b-userbar__account-avatar {
  border-radius: 2px;
  margin-right: 10px;
  position: relative;
  top: 1px;
}

.b-userbar__account-name {
  font-weight: bold;
}

.b-userbar__icons-item,
.b-userbar__account {
  height: 25px;
  padding-top: 21px;
  padding-bottom: 21px;
  line-height: 25px;
  color: #8F8F8F;
  text-decoration: none;
  cursor: pointer;
}

.b-userbar__icons-item-notify {
  background: #D8232A;
  font-size: 10px;
  line-height: 13px;
  font-weight: bold;
  color: #fff;
  padding: 0 2px;
  border-radius: 2px;
  position: absolute;
  top: 30%;
  left: 60%;
}


.navbar ul li a
{
   
transition: color .3s ease;

   
}
.navbar ul li a:hover{
  color:#222;  
}

.navbar ul li a.active{
  color: #777;
  font-weight:bold;
  cursor: default;
}


h4.logo{

  font-family:'Poiret One',sans;
  text-align:center;
  color:#666;
  text-shadow:0px 1px 2px rgba(0,0,0,0.3);
}
h4.logo p:nth-of-type(1){
  color:#0089ab;
}
h4.logo p:nth-of-type(2){
  color:#d91821;
}
h4.logo span:nth-of-type(3){
  color:#ffac05;
}
h4.logo span:nth-of-type(4){
  color:#0089ab;
}
h4.logo span:nth-of-type(5){
  color:#88c406;
}
h4.logo span:nth-of-type(6){
  color:#d91821;
}


.Notifications,  .User-menu {
-webkit-border-radius: 3px 3px 0 0;
-moz-border-radius: 3px 3px 0 0;
-ms-border-radius: 3px 3px 0 0;
-o-border-radius: 3px 3px 0 0;
border-radius: 3px 3px 0 0;
background-color: #F0F0F0;
width: 320px;
padding: 0px 0;
}

.Notifications .notifHeader, .User-menu .courseHeader {
-webkit-border-radius: 3px 3px 0 0;
-moz-border-radius: 3px 3px 0 0;
-ms-border-radius: 3px 3px 0 0;
-o-border-radius: 3px 3px 0 0;
border-radius: 3px 3px 0 0;
-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.1),0 2px 3px rgba(0,0,0,0.05);
-moz-box-shadow: 0 1px 0 rgba(0,0,0,0.1),0 2px 3px rgba(0,0,0,0.05);
box-shadow: 0 1px 0 rgba(0,0,0,0.1),0 2px 3px rgba(0,0,0,0.05);
padding: 10px;
background-color: #f5f5f5;
}

.Notifications .notifContent {
bottom: 20px;
height: auto;
left: 0;
overflow: auto;
z-index: 2;
}

.Notifications .notifContent li:hover {
background-color: #f5f5ff;
}

.Notifications .notifFooter {
-webkit-border-radius: 0 0 3px 3px;
-moz-border-radius: 0 0 3px 3px;
-ms-border-radius: 0 0 3px 3px;
-o-border-radius: 0 0 3px 3px;
border-radius: 0 0 3px 3px;
-webkit-box-shadow: 0 -1px 0 rgba(0,0,0,0.1),0 -2px 3px rgba(0,0,0,0.05);
-moz-box-shadow: 0 -1px 0 rgba(0,0,0,0.1),0 -2px 3px rgba(0,0,0,0.05);
box-shadow: 0 -1px 0 rgba(0,0,0,0.1),0 -2px 3px rgba(0,0,0,0.05);
bottom: 0;
height: 20px;
}

.Notifications .notifTitle, .User-menu .courseTitle {
font-size: 13px;
font-weight: 700;
margin-left: 10px;
line-height: 0px;
}

.Notifications .notifSettings , .User-menu .courseSettings{
color: #777;
cursor: pointer;
font-size: 12px;
position: absolute;
right: 10px;
top: 11px;
z-index: 3;
}

.Notifications .notifItem{
overflow: hidden;
border-bottom: 1px solid #ddd;
color: #666;
cursor: pointer;
}

.User-menu li a:hover{
background: #E9E9E9;
}

.Notifications .notifItem:last-child {
border: none;
}

.actorImages {
left: 0;
padding: 10px 5px;
position: absolute;
}

.notifMessage {
float: left;
font-size: 12px;
font-weight: 500;
margin: 10px 52px;
line-height: 15px;
}

span img {
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
height: 33px;
width: 33px;
}

.notifMessage .timesince {
color: #a2a2a2;
display: block;
font-size: 11px;
font-weight: 700;
white-space: nowrap;
}



.User-menu ul a{
font-size: 12px;
padding: 6px 47px;
}

.User-menu li {
overflow: hidden;
color: #777;
display: block;
font-size: 12px;
text-align: center;
}

.User-menu li a {
-webkit-font-smoothing: antialiased;
font-family: 'Helvetica', sans-serif;
font-weight: bold;
color: #777;
cursor: pointer;
display: block;
padding: 9px 14px;
}

.CategoriesMenu {
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
-webkit-overflow-scrolling: touch;

text-align: left;
width: 365px;
}

.CategoriesMenu li a {
-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
font-family: 'Helvetica', sans-serif;
color: #8f8f8f;
display: block;
font-size: 13px;
position: relative;
}

.CategoriesMenu li a:hover{
background: white;
}

.examItem{
float:left;
margin-left:5px;
margin-top:5px;
}

.examFooter{
-webkit-border-radius: 0 0 3px 3px;
-moz-border-radius: 0 0 3px 3px;
-ms-border-radius: 0 0 3px 3px;
-o-border-radius: 0 0 3px 3px;
border-radius: 0 0 3px 3px;
overflow: hidden;
background: #f5f5f5;
bottom: 0;
border-top: 1px solid #ebebeb;
clear: both;
left: 0;
position: absolute;
right: 0;

}


.filter {
display: inline-block;
border: thin solid gainsboro;
padding: .10rem .10rem;
border-radius: .25rem;
margin-right: .10rem;
cursor: pointer;
transition: .2s;
}

.filter:hover { box-shadow:0 0 0 .125rem gainsboro; color:black; }
.filter:active { color:black; border-color:black; box-shadow:0 0 0 .125rem black; }

.active-filter:before {
        font-weight:bold;
        content:"x";
        padding-right:.25rem;
}

code {
padding-top: 5px;
line-height: 22px;
margin-left: 8%;
margin-right: 8%;
padding-left: 36px;
padding-bottom: 20px;
border: 1px transparent solid;
border-bottom-right-radius: 20px;
border-bottom-left-radius: 20px;
display: block;
white-space: pre;
}

</style>


<style>
.btn-cta {
background: #ef5075;
font-size: 13px;
letter-spacing: 0.05em;
padding: 8px 40px;
margin: 0 0 0 20px;
}

.popover{
width: 120px;
}

.popover li a {
display: inline;
float: left;
text-align: center;
background: #00a9a9;
color: #fff;
margin: 3px 0;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
padding: 5px 0;
font-weight: 400;
letter-spacing: 0.05em;
padding-left: 20px;
padding-right: 20px;
}

.popover li a {
color: #0088cc;
text-decoration: none;
}

</style>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <ul id="global-nav" class="nav pull-left">
	    <a href="/" class="brand">
            <h1>Feyn<span>labs<small><sup>&trade;</sup></small><span></h1>	  
	    </a>
		
				
	  </ul>
	    <!--
		<form class='search pull-right' action="">
                <input type="text" />              
        </form>
        --> 

    <!--
       <ul class="nav pull-right row"> 
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Examples</a>		  
          <ul class="dropdown-menu  " >
		      <ul class="CategoriesMenu">
		         <li class="examItem filter"><a href="#">Example 1</a></li>
                 <li class="examItem filter"><a href="#">Example 2</a></li>
                 <li class="examItem filter"><a href="#">Example 3</a></li>
              </ul>	
		  
          </ul>		  
        </li>
       </ul>
    -->


	   

       <ul class="nav pull-right row"> 
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Course</a>		  
          <ul class="dropdown-menu  User-menu" style="width:200px;">
		    <div class="courseHeader" >
				<div style="margin-top:5px;margin-left: 5px;">
				    <span ><img src="http://media-cache-ec0.pinimg.com/avatars/isiprinos_1374959866_75.jpg"></span>
					<span > Course Test  </span>					
			    </div>
				<div style="margin-top:5px;margin-left: 5px;"> ajit </div>
            </div>	
            <ul style="clear:both;">			
		        <li class="notifItem"><a data-toggle="modal" class="modal-btn" href="#ExampleModal">Examples</a></li>
                <li class="notifItem"><a data-toggle="modal" class="modal-btn" href="#HelpModal">Help</a></li>
                <li class="notifItem"><a data-toggle="modal" class="modal-btn" href="#ProgressModal">Progress</a></li>
                <li class="notifItem"><a data-toggle="modal" class="modal-btn" href="#QuitModal">Quit Course</a></li>				
		    </ul>
          </ul>
        </li>
       </ul>	   
		
	  <% if(locals.user) { %>
	  
       <ul class="nav pull-right row"> 
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" ><%= locals.user.username %></a>		  
          <ul class="dropdown-menu  User-menu" style="width:160px;">
		    <li class="notifItem"><a href="/profile/<%= locals.user.username %>">Dashboard</a></li>
            <li class="notifItem"><a href="/settings/profile">Edit Profile</a></li>
            <li class="notifItem"><a href="/settings/account">Account</a></li>
		    <li class="notifItem">  
		      <form method="POST" class="form-inline" action="/sessions" enctype="application/x-www-form-urlencoded">
	             <input type="hidden" name="_csrf" value="<%= token %>"/>
			     <input type="hidden" name="_method" value="delete" />			 
			     <li > <a id="btn-logout" type="submit">Sign Out</a></li>			 
              </form>
		    </li>						
          </ul>
        </li>
       </ul>



	  <ul class="nav pull-right row">
        <li class="dropdown ">
		  
	     <a href="#" class="b-userbar__account class="dropdown-toggle" data-toggle="dropdown"">
		            <% if(locals.user.img) { %>
                        <img src="/images/<%= locals.user.img %>" width="21" height="21" alt="User avatar" class="b-userbar__account-avatar">
					<% } %>
					<% if(!locals.user.img) { %>
                        <img src="/default_user.jpeg" width="21" height="21" alt="User avatar" class="b-userbar__account-avatar">					
					<% } %>
			<span class="b-userbar__icons-item-notify">5</span>		
         </a>		  
          <ul class="dropdown-menu Notifications">
		    <div class="notifHeader">
	            <h1 class="notifTitle">Notifications</h1>
	            <a class="notifSettings">Edit</a>
            </div>
			<ul class="notifContent">
                <li class="notifItem">
                        <div class="actorImages">
                            <a data-actor-id="313563330214114585" class="actorImage active" href="/isiprinos/">
                                <span><img src="http://media-cache-ec0.pinimg.com/avatars/isiprinos_1374959866_75.jpg"></span>
                            </a>
                        </div>
                        <p class="notifMessage">
                            Your Facebook friends <a href="/isiprinos/" data-actor-id="313563330214114585">Isidoros Prinos</a> and <a href="/kevin7363881/" data-actor-id="303641337285062950">Kai Liu</a> joined Pinterest.
                            <span class="timesince">9 weeks ago</span>
                        </p>
                </li>
                <li class="notifItem">
                        <div class="actorImages">
                            <a data-actor-id="313563330214114585" class="actorImage active" href="/isiprinos/">
                                <span><img src="http://media-cache-ec0.pinimg.com/avatars/isiprinos_1374959866_75.jpg"></span>
                            </a>
                        </div>
                        <p class="notifMessage">
                            Your Facebook friends <a href="/isiprinos/" data-actor-id="313563330214114585">Isidoros Prinos</a> and <a href="/kevin7363881/" data-actor-id="303641337285062950">Kai Liu</a> joined Pinterest.
                            <span class="timesince">9 weeks ago</span>
                        </p>
                </li>
			</ul>	
            <div class="notifFooter"></div>			
          </ul>
        </li>	  
	  </ul>
	   
	  <% } %>


	  

    </div>
  </div> 

<div class="ha-header-bottom">
	<nav>
							<a>Dalliance</a>
							<a>Inglenook</a>
							<a>Lagniappe</a>
							<a>Mellifluous</a>
							<a>Erstwhile</a>
							<a>Wafture</a>
							<a>Serendipity</a>
							<a>Love</a>
	</nav>
</div>
  
</div>


<style>
.ha-header-bottom {
background: #ddd;
-webkit-transform-origin: 50% 0%;
-moz-transform-origin: 50% 0%;
transform-origin: 50% 0%;
-webkit-transform: rotateX(-90deg);
-moz-transform: rotateX(-90deg);
transform: rotateX(-90deg);
-webkit-transition: top 0.5s;
-moz-transition: top 0.5s;
transition: top 0.5s;
position: absolute;
top: 0;
}

.ha-header-show{
	opacity: 0;
	-webkit-transition: top 0.5s, opacity 0s 0.5s;
	-moz-transition: top 0.5s, opacity 0s 0.5s;
	transition: top 0.5s, opacity 0s 0.5s;
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	transform: rotateX(0deg);
	top: 0%;
}

.ha-header-subshow {
-webkit-transition: top 0.5s;
-moz-transition: top 0.5s;
transition: top 0.5s;
-webkit-transform: rotateX(0deg);
-moz-transform: rotateX(0deg);
transform: rotateX(0deg);
top: 100%;

}



.search{
  width:400px;
  margin:0px auto;
margin-top: 10px;
}
.search input[type="text"] {
border: 1px solid #e5e5e5;
font-size: 20px;
width: 300px;
display: block;
padding: 5px 5px;
font-family: 'Open Sans Light', sans;
color: #333;
outline: 0;
box-shadow: 0px 1px 0px #fff;
}
.search input[type="text"]:focus{
  border:1px solid #539fb5;
}

.search input[type="text"]:focus ~ button{
  color:#777;
}

</style>




<script>
/*
setInterval(function() {
  $('.ha-header-bottom').toggleClass('ha-header-subshow');
}, 1500);
*/

var pathname = window.location.pathname;
console.log(pathname);
console.log('cid  ',pathname.split('/')[2]);
var courseid = pathname.split('/')[2];

</script>





<div class="modal hide" id="ExampleModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">x</button>
        <h3>Simple Examples</h3>
    </div>
    <div class="modal-body" style="text-align:left;">
        <div class="row-fluid">
		    <ul>
			    <!--
              	<li class="examItem filter"><a href="#">Example 1</a>	</li>							
                <li class="examItem filter"><a href="#">Example 2</a></li>
                <li class="examItem filter"><a href="#">Example 3</a></li>
				-->
<div class="example-group example-3">
  <div class="example-group-header">Hello World</div>
  <code><span class="k">print</span> <span class="s">'Hello World!'</span></code>
</div>

<div class="example-group example-3">
    <div class="example-group-header">Input</div>
    <code>
       <span class="n">name</span> <span class="o">=</span> <span class="nb">raw_input</span><span class="p">(</span><span class="s">'What is your name?</span><span class="se">\n</span><span class="s">'</span><span class="p">)</span>
       <span class="k">print</span> <span class="s">'Hi, </span><span class="si">%s</span><span class="s">.'</span> <span class="o">%</span> <span class="n">name</span>
    </code>
</div>

<div class="example-group example-3">
  <div class="example-group-header">Loop</div>
  <code>
      <span class="k">for</span> <span class="n">i</span> <span class="ow">in</span> <span class="nb">range</span><span class="p">(</span><span class="mi">5</span><span class="p">):</span>
      <span class="k">print</span> <span class="s">'A number:'</span><span class="p">,</span> <span class="n">i</span>
  </code>
</div>				
				
<div class="example-group example-2">
                    <div class="example-group-header">Time</div>
    <code>
    <span class="kn">import</span> <span class="nn">time</span>
    <span class="n">now</span> <span class="o">=</span> <span class="n">time</span><span class="o">.</span><span class="n">localtime</span><span class="p">()</span>
    <span class="n">hour</span> <span class="o">=</span> <span class="n">now</span><span class="o">.</span><span class="n">tm_hour</span>
    <span class="k">if</span> <span class="n">hour</span> <span class="o">&lt;</span> <span class="mi">8</span><span class="p">:</span> <span class="k">print</span> <span class="s">'sleeping'</span>
    <span class="k">elif</span> <span class="n">hour</span> <span class="o">&lt;</span> <span class="mi">9</span><span class="p">:</span> <span class="k">print</span> <span class="s">'commuting'</span>
    <span class="k">elif</span> <span class="n">hour</span> <span class="o">&lt;</span> <span class="mi">17</span><span class="p">:</span> <span class="k">print</span> <span class="s">'working'</span>
    <span class="k">elif</span> <span class="n">hour</span> <span class="o">&lt;</span> <span class="mi">18</span><span class="p">:</span> <span class="k">print</span> <span class="s">'commuting'</span>
    <span class="k">elif</span> <span class="n">hour</span> <span class="o">&lt;</span> <span class="mi">20</span><span class="p">:</span> <span class="k">print</span> <span class="s">'eating'</span>
     <span class="k">elif</span> <span class="n">hour</span> <span class="o">&lt;</span> <span class="mi">22</span><span class="p">:</span> <span class="k">print</span> <span class="s">'resting'</span>
     <span class="k">else</span><span class="p">:</span> <span class="k">print</span> <span class="s">'sleeping'</span>
    </code>
</div>
				
<div class="example-group example-2">
     <div class="example-group-header">Factorial</div>
    <code>
        <span class="k">def</span> <span class="nf">factorial</span><span class="p">(</span><span class="n">n</span><span class="p">):</span>
        <span class="k">if</span> <span class="n">n</span> <span class="o">==</span> <span class="mi">0</span><span class="p">:</span>
        <span class="k">return</span> <span class="mi">1</span>
        <span class="k">else</span><span class="p">:</span>
        <span class="k">return</span> <span class="n">n</span> <span class="o">*</span> <span class="n">factorial</span><span class="p">(</span><span class="n">n</span> <span class="o">-</span> <span class="mi">1</span><span class="p">)</span>
        <span class="k">print</span> <span class="n">factorial</span><span class="p">(</span><span class="mi">5</span><span class="p">)</span>
    </code>
</div>
				
				
				
		    </ul>
        </div>
    </div>
</div>

<div class="modal hide" id="HelpModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">x</button>
        <h3>Ask the tutor question</h3>
    </div>
    <div class="modal-body" style="text-align:left;">
        <div class="row-fluid">
            <div class="chatter">  
                <div class="chatter_convo">
                </div>
            </div>				
	        <input type="hidden" id='csrf' name="_csrf" value="<%= token %>"/>        
            <textarea name="msg" style="height:400px;" placeholder="Type your message here..." class="chatter_field chatter_message" id="msg_area"></textarea>
            <button id="help_msg_btn" class="btn btn-primary" value="Submit"> Submit	</button>
            				
        </div>
    </div>
    <div class="modal-footer">
    </div>	
</div>

<style>

.chatter {
position: fixed;
right: 0px;
top: 160px;
z-index: 1000;
margin: 0;
padding: 12px 12px 16px 12px;
width: 300px;
font-family: "Helvetica Neue", "Helvetica", sans-serif;
font-size: 16px;
line-height: 22px;
font-weight: 400;
-webkit-font-smoothing: antialiased;
font-smoothing: antialiased;
outline: 3px solid rgba(0,0,0,0.05);
background: #2c3e50;
display:none;
}

.chatter .chatter_field {
  position: relative;
  margin: 0 0 8px 0;
  padding: 11px 12px 9px 12px;
  width: 276px;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #4b4b4b;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  border: none;
  outline: none;
  background: #ffffff;
}

.chatter .chatter_field.chatter_message {
  margin: 0;
  padding: 11px 12px 9px 12px;
  font-size: 14px;
  line-height: 20px;
  height: 22px;
  resize: none;
}

.chatter .chatter_convo {
  position: relative;
  margin: 0 -6px 12px -6px;
  padding: 0 6px;
  height: 366px;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  overflow-y: auto;
}

.chatter .chatter_convo .chatter_msg_item {
  position: relative;
  margin: 5px 0 8px 0;
  padding: 8px 10px;
  max-width: 60%;
  display: block;
  background: rgba(255,255,255,0.26);
}

.chatter .chatter_convo .chatter_msg_item .chatter_avatar {
  position: absolute;
  top: 0;
}

.chatter .chatter_convo .chatter_msg_item.chatter_msg_item_admin .chatter_avatar {
  left: -52px;
}

.chatter .chatter_convo .chatter_msg_item.chatter_msg_item_user .chatter_avatar {
  right: -52px;
}

.chatter .chatter_convo .chatter_msg_item .chatter_avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.chatter .chatter_convo .chatter_msg_item.chatter_msg_item_admin {
  margin-left: 52px;
  float: left;
}

.chatter .chatter_convo .chatter_msg_item.chatter_msg_item_user {
  margin-right: 52px;
  float: right;
  background: rgba(255,255,255,0.16);
}

.chatter .chatter_convo .chatter_msg_item.chatter_msg_item_admin:before {
  content: '';
  position: absolute;
  top: 15px;
  left: -12px;
  z-index: 10;
  border: 6px solid transparent;
  border-right-color: rgba(255,255,255,0.26);
}

.chatter_msg_item.chatter_msg_item_user:before {
  content: '';
  position: absolute;
  top: 15px;
  right: -12px;
  z-index: 10;
  border: 6px solid transparent;
  border-left-color: rgba(255,255,255,0.16);
}

.chatter .chatter_convo .chatter_msg_item strong.chatter_name {
  padding: 0 1px 1px 0;
  font-weight: 900;
  display: block;
}

.chatter .chatter_btn {
  position: relative;
  margin: 0;
  padding: 0 12px;
  height: 42px;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 40px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: #ffffff;
  color: rgba(255,255,255,0.85);
  border: none;
  outline: none;
  background: rgba(255,124,124,0.8);
}

.chatter .chatter_btn:hover {
  color: rgba(255,255,255,1);
  background: rgba(255,124,124,0.96);
}

.chatter .chatter_btn:active {
  color: rgba(255,255,255,0.7);
  background: rgba(255,124,124,0.7);
}
</style>

<script>
$('#help_msg_btn').click(function(){
    console.log('help msg clicks',$('#csrf').val());
	var length = $('.chatter_convo').find('.chatter_msg_item').size();
	var msg = $('#msg_area').val();	
	if(msg.length <20) {
	    // the question should be a lot of more specific
	    return false;
	}
	
	$.ajax({
           type: "POST",
		   url:"/course/"+courseid+"/help?role=0",
		   data: 'msg='+msg+'&question_id='+current_qid,
           beforeSend: function(xhr){xhr.setRequestHeader('x-csrf-token', $('#csrf').val() );},
		   error: function(jqXHR, textStatus, errorThrown){
               console.log('error',jqXHR.status,jqXHR.responseText);
           },		   
           success: function(data)
           {		        
                console.log('success  ',data);			   
			   	var a = $(   '<span class="chatter_msg_item chatter_msg_item_admin">'
                        +' <a href="" class="chatter_avatar"><img src="https://si0.twimg.com/profile_images/3003485948/349f8da7e56d9abc30f5f405a6ab76c4_bigger.jpeg" /></a> '
                        +'  <strong class="chatter_name">Luke Peters</strong>'+msg
					  +'</span>');	
                a.appendTo($('.chatter_convo'));
                $('#msg_area').val('');				
           }
        });  
})
</script>

<div class="modal hide" id="ProgressModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">x</button>
        <h3>View your progress</h3>
    </div>
    <div class="modal-body" style="text-align:left;">
        <div class="row-fluid">
            <div class="status-progress span8" style="height: 2px;min-height: 2px;">				
			    <ul >
					   
			    </ul>
		    </div>
			
			
        </div>
    </div>
</div>

<div class="modal hide" id="QuitModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3>Quit the course</h3>
    </div>
    <div class="modal-body" style="text-align:left;">
        <p>	
            Are you sure to quit the course?		
        </p>      		
    </div>
    <div class="modal-footer">
        <form method="post" style="margin: 0 0 0px;"  action="/course/"+ courseid +"/disjoin" enctype="application/x-www-form-urlencoded">
                    <input type="hidden" name="_csrf" value="<%= token %>">
					<a href="#" data-dismiss="modal" class="btn">Cancel</a> 
                    <a href="#" type="submit" class="btn btn-danger">Quit Course</a>
        </form> 
        		
    </div>	
</div>