<style>
@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: local('Poiret One'), local('PoiretOne-Regular'), url(http://themes.googleusercontent.com/static/fonts/poiretone/v1/HrI4ZJpJ3Fh0wa5ofYMK8RsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans Light';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}


.brand h1 {

  margin: 0;
  font-size: 0.8em;
  text-align: center;
  color: #A5A6A8;
    
}

.brand h1 span {
  color: #5bb8ce;
}

.navbar {
  font-family:'Open Sans', sans;
margin-bottom: 0px;
border-top: #5bb8ce 1px solid;
display: block;

}

.navbar-inner{
z-index: 101;
}

.navbar .brand {
display: block;
float: left;
padding: 5px 20px 5px;
margin-left: -20px;
font-size: 20px;
font-weight: 200;
color: #777777;
text-shadow: 0 1px 0 #ffffff;
}

.container-fluid {
width: 1008px;
max-width: 100%;
min-width: 768px;
margin: 0 auto;
}

.navbar .nav > li > a {
padding: 15px 15px 10px;
}

.b-userbar__account {
  padding: 0 36px 0 22px;
  position: relative;

}

.b-userbar__account:hover {
  color: #9F9F9F;
}

.b-userbar__account:hover .b-arrow {
  opacity: .75;
}

.b-userbar__account-avatar {
  border-radius: 2px;
  margin-right: 10px;
  position: relative;
  top: 1px;
}

.b-userbar__account-name {
  font-weight: bold;
}

.b-userbar__icons-item,
.b-userbar__account {
  height: 25px;
  padding-top: 21px;
  padding-bottom: 21px;
  line-height: 25px;
  color: #8F8F8F;
  text-decoration: none;
  cursor: pointer;
}

.b-userbar__icons-item-notify {
  background: #D8232A;
  font-size: 10px;
  line-height: 13px;
  font-weight: bold;
  color: #fff;
  padding: 0 2px;
  border-radius: 2px;
  position: absolute;
  top: 30%;
  left: 60%;
}


.navbar ul li a
{
   color:#afafaf;
   transition: color .3s ease;  
   font-size:11px;
   text-shadow:0px 1px 2px rgba(0,0,0,0.3);
}
.navbar ul li a:hover{
  color:#222;  
}

.navbar ul li a.active{
  color: #777;
  font-weight:bold;
  cursor: default;
}


h4.logo{

  font-family:'Poiret One',sans;
  text-align:center;
  color:#666;
  text-shadow:0px 1px 2px rgba(0,0,0,0.3);
}
h4.logo p:nth-of-type(1){
  color:#0089ab;
}
h4.logo p:nth-of-type(2){
  color:#d91821;
}
h4.logo span:nth-of-type(3){
  color:#ffac05;
}
h4.logo span:nth-of-type(4){
  color:#0089ab;
}
h4.logo span:nth-of-type(5){
  color:#88c406;
}
h4.logo span:nth-of-type(6){
  color:#d91821;
}

</style>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <ul id="global-nav" class="nav pull-left">
	    <a href="/" class="brand">
            <h1>Feyn<span>labs<small><sup>&trade;</sup></small><span></h1>	  
	    </a>
		
		<li class="">
                <a href="/discover/course" class="menu_item">Discovery</a>
        </li>
		

		<li class="">
            <a href="/new/course"  class="menu_item">Start Course</a>
        </li>
		<!--
		<li> 
		    <h4 class='logo'>Google</h4>
        </li>
		-->

		
	  </ul>

		<form class='search pull-right' action="">
                <input type="text" />              
        </form>	  

	    <!-- include ../widget/power -->
	  <% if(locals.user) { %>
	  
       <ul class="nav pull-right row">
	    <li>
	        <a href="/profile/<%= locals.user.username %>" class="b-userbar__icons-item"> 
                <img src="http://commondatastorage.googleapis.com/johnius/anchor.png" width="25" height="25" alt="Userbar icon"> 
                <span class="b-userbar__icons-item-notify">5</span> 
            </a>
		</li>	
	    <li>
	     <a href="#" class="b-userbar__account ">
		            <% if(locals.user.img) { %>
                        <img src="/images/<%= locals.user.img %>" width="21" height="21" alt="User avatar" class="b-userbar__account-avatar">
					<% } %>
					<% if(!locals.user.img) { %>
                        <img src="/default_user.jpeg" width="21" height="21" alt="User avatar" class="b-userbar__account-avatar">					
					<% } %>
         </a>
		</li> 
        <li class="dropdown ">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" ><%= locals.user.username %></a>
          <ul class="dropdown-menu">
		    <li><a href="/profile/<%= locals.user.username %>">Dashboard</a></li>
            <li><a href="/settings/profile">Edit Profile</a></li>
            <li><a href="/settings/account">Account</a></li>
            <li class="divider"></li>			
		    <li>  
		      <form method="POST" class="form-inline" action="/sessions" enctype="application/x-www-form-urlencoded">
	             <input type="hidden" name="_csrf" value="<%= token %>"/>
			     <input type="hidden" name="_method" value="delete" />			 
			     <button id="btn-logout" class="btn btn-primary"><i class="icon-lock icon-white"></i>Sign Out</button>			 
              </form>
		    </li>						
          </ul>
        </li>
       </ul>	 
	  <% } %>

    </div>
  </div> 

<div class="ha-header-bottom">
	<nav>
							<a>Dalliance</a>
							<a>Inglenook</a>
							<a>Lagniappe</a>
							<a>Mellifluous</a>
							<a>Erstwhile</a>
							<a>Wafture</a>
							<a>Serendipity</a>
							<a>Love</a>
	</nav>
</div>
  
</div>




<style>
.ha-header-bottom {
background: #ddd;
-webkit-transform-origin: 50% 0%;
-moz-transform-origin: 50% 0%;
transform-origin: 50% 0%;

-webkit-transform: rotateX(-90deg);
-moz-transform: rotateX(-90deg);
transform: rotateX(-90deg);
-webkit-transition: top 0.5s;
-moz-transition: top 0.5s;
transition: top 0.5s;
position: absolute;
top: 0;

}



.ha-header-show{
	opacity: 0;
	-webkit-transition: top 0.5s, opacity 0s 0.5s;
	-moz-transition: top 0.5s, opacity 0s 0.5s;
	transition: top 0.5s, opacity 0s 0.5s;
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	transform: rotateX(0deg);
	top: 0%;

}

.ha-header-subshow {
-webkit-transition: top 0.5s;
-moz-transition: top 0.5s;
transition: top 0.5s;
-webkit-transform: rotateX(0deg);
-moz-transform: rotateX(0deg);
transform: rotateX(0deg);
top: 100%;

}



.search{
  width:400px;
  margin:0px auto;
margin-top: 10px;
}
.search input[type="text"] {
border: 1px solid #e5e5e5;
font-size: 20px;
width: 300px;
display: block;
padding: 5px 5px;
font-family: 'Open Sans Light', sans;
color: #333;
outline: 0;
box-shadow: 0px 1px 0px #fff;
}
.search input[type="text"]:focus{
  border:1px solid #539fb5;
}

.search input[type="text"]:focus ~ button{
  color:#777;
}

</style>

<script>
/*
setInterval(function() {
  $('.ha-header-bottom').toggleClass('ha-header-subshow');
}, 1500);
*/
</script>