<style>
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

[class*="fontawesome-"]:before {
  font-family: 'fontawesome', sans-serif;
}

.projects{
margin: 0 auto;
width: 960px;
margin-bottom:30px;
}

.project {
width: 410px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
  overflow: hidden;
-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
-moz-box-shadow: 0 0 5px rgba(0,0,0,0.2);
box-shadow: 0 0 5px rgba(0,0,0,0.2);
margin-bottom: 30px;
}

.video-thumbnail {
background-image: url(https://dl6rt3mwcjzxg.cloudfront.net/assets/lets-talk/stlouis-9e811b6dd6056da6ff76f044f65d2cc6.jpg);
}

.video-thumbnail {
display: block;
height: 275px;
background-size: cover;
position: relative;
width: 100%;
}

.video-thumbnail:after {
content: "";
position: absolute;
background-image: url(https://dl6rt3mwcjzxg.cloudfront.net/assets/lets-talk/play-button-b19052c0d00f164faca4058e9f51d982.png);
width: 47.5px;
height: 47.5px;
background-size: 100%;
bottom: 20px;
left: 20px;
}

.video-caption {
height: 115px;
line-height: 115px;
padding: 0 25px;
}

.video-caption h3{
display: -moz-inline-stack;
display: inline-block;
vertical-align: middle;
zoom: 1;
white-space: normal;
float: left;
}

.video-details {
font-size: 12px;
line-height: 16px;
float: left;
}

.merchant-row {
overflow: hidden;
}

.merchant-row:first-child {
margin-bottom: 15px;
}

.merchant:first-child {
width: 140px;
}

strong {
font-weight: 500;
}





h1.noresults {
height: 60px;
font-family: "MuseoSans_light";
font-size: 2.35em;
font-weight: lighter;
color: #fff;
text-align: center;
line-height: 60px;
background-color: #444;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
width:300px;
margin: 0 auto;
}

</style>




<% if(locals.courses) { %>
<div class="gallery">
    <div class="detail">
            <h2>Courses Gallery</h2>
            <h3>Explore what courses are empowering the students looking into the computer science.</h3>
            <div class="share clear">
                <div id="sort" class="right">
                    <div class="clear">
                        <label class="left">Sort by:</label>
                        <div class="select-wrapper left">
                            <div class="ss-select-wrapper">
							    <select class="js-jump-on-change" style="width: 134px;">
                                        <option value="/courses?sort=time">Last Updated</option>
                                        <option value="/courses?sort=votes" selected="">Most Liked</option>
                                </select><span class="ss-select" aria-hidden="true" style="width: 85px;">                 
								<span class="arrow icon-chevron"></span>
								<span class="label">Most Liked</span></span>
							</div>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <div class="projects row">
	  
	  <% if(locals.courses.length == 0){ %>
	     <h1 class="noresults">  No results found </h1>
	     
	  <% }; %>
	  
      <% courses.forEach( function( course ){ %>
  
        <div class="project span4">
			 <img class="video-thumbnail video-link" id=="/course/<%= course._id %>" src="/course/image/<%= course.img %>" alt="">
			 <div class="video-caption">
			      <h3><img src="/images/<%= course.tutor.id.img %>"  /><a href="/user/<%= course.tutor.id._id %>" ><%= course.tutor.id.username %></a></h3>
				  <div class="video-details">
				       <h2><a href="/course/<%= course._id %>" ><%= course.title %></a></h2>
				      <div class="merchant-row">
					        <div class="merchant"><strong><%= course.desc %></strong><br></div>					        
					  </div>
			      </div>
				  
				  <form method="post" id="login-form"  action="/course/<%= course._id %>/join" enctype="application/x-www-form-urlencoded">
                    <input id="csrf" type="hidden" name="_csrf" value="<%= token %>"/>
                    <button type="submit" id="btn-login" class="btn"><i class="icon-white"></i>join</button>
                  </form>
				  
				  
			</div>
        </div>
	
      <% }); %>
	</div>	
	 <div id="load-more-wrapper">
			<a id="load-more-projects-button" class="load-more-link btn grey" href="javascript:;">Load more Projects</a>
	 </div>
<% } %>
</div>