<style>
.banner {
position: relative;
margin-left: 21px;
}

.banner .rand {
width: 98px;
height: 98px;
}

.banner .info {
background-color: #58cb8e;
position: absolute;
top: 26px;
left: 28px;
z-index: 999;
font-size: 18px;
padding: 20px;
width: 280px;
text-align: right;
color: white;
}

.banner .rand img {
border-radius: 50%;
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
position: relative;
z-index: 1000;
margin-left: -31px;
border-color: rgb(213, 77, 43);
}

.banner .info {
background-color: #58cb8e;
position: absolute;
top: 16px;
left: 28px;
z-index: 999;
font-size: 18px;
padding: 20px;
width: 280px;
text-align: right;
color: white;
}

.banner .info .name {
top: -6px;
font-size: 18px;
text-align: right;
color: white;
}

.banner .info .seomoz-logo {
position: relative;
text-indent: -9999em;
width: 102px;
height: 16px;
display: inline-block;
color: transparent;
border-left: solid 1px white;
padding: 6px;
margin-left: 15px;
}

.quote {
font-weight: 400;
font-style: italic;
line-height: 21px;
font-size: 13px;
font-family: "Chronicle SSm A", "Chronicle SSm B", Georgia, serif;
-webkit-font-smoothing: antialiased;
position: relative;
width: 330px;
}

</style>


<style>

.widget {
border-radius: 5px;
width: 320px;
border-left: 5px solid #eeeeee;
padding-left: 20px;
margin-left: 10px;
margin: 0 auto;

}

.section:first-child {
  border-radius: 5px 5px 0 0;
}


.section-graph {
  position: relative;

  color: #fff;
  background: #55bc75;
  background-image: linear-gradient(color-stops(#55bc75, #55bc75 50%, #4daf7c 50%));
}

.graph-info {
    z-index: 99;
    position: absolute;
    font-weight: bold;
    margin-top: 18px;
    margin-left: 21px;
    width: 100px;
}

.graph-arrow {
      width: 0; 
	    height: 0;
      margin-top: 18px;
	    border-left: 4px solid transparent;
	    border-right: 4px solid transparent;
	    border-bottom: 4px solid white;
      float: left;
}
  
.graph-info-big {
      font-size: 24px;
      float: left;
      margin-left: 3px;
}
  
.graph-info-small {
      margin-left: 3px;
      font-size: 12px;
      font-weight: normal;
      color: rgba(255, 255, 255, .5);
      clear: left;
      margin-left: 8px;
}

/*
 * Info Section
 */

.section-info {
  padding: 21px 21px 41px;
  color: #8a786a;
  overflow: hidden;
background: white;  
}

.info-time {
  font-size: 12px;
}

.info-block {
  background-color: #f5f0ec;
  text-align: center;
  width: 120px;
  border-radius: 3px;
  float: left;
  padding: 4px 0;
}

.info-aapl {
  float: left;
}

  
.info-aapl  ul {
    margin: 0;
    padding: 0;
}
  
.info-aapl  li {
    margin: 0;
    display: block;
    width: 9px;
    height: 40px;
    margin-right: 6px;
    background-color: #f5f0ec;
    float: left;
    position: relative;

	}   
.info-aapl span {
      display: block;
      width: 9px;
      height: 40px;
      position: absolute;
      bottom: 0;
}
    
.info-aapl span.orange {
      background-color: #e75e3a;
}
    
.info-aapl span.green {
      background-color: #4eaf7c;
    }

.yearly-change {
  width: 94px;
  float: right;
}




#heart {
height: 50px;
width: 50px;
position: relative;
}

.outline {
   background: grey;
}

#heart .outline:before, #heart .outline:after {
position: absolute;
content: "";
left: 28px;
top: 1px;
width: 15px;
height: 27px;
background: inherit;
-moz-border-radius: 50px 50px 0 0;
border-radius: 85px 60px 0 0;
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
transform: rotate(-45deg);
-webkit-transform-origin: 0 100%;
-moz-transform-origin: 0 100%;
-ms-transform-origin: 0 100%;
-o-transform-origin: 0 100%;
transform-origin: 0 100%;
}
#heart .outline:after {
left: 13px;
-webkit-transform: rotate(45deg);
border-radius: 45px 60px 0 0;
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
-webkit-transform-origin: 100% 100%;
-moz-transform-origin: 100% 100%;
-ms-transform-origin: 100% 100%;
-o-transform-origin: 100% 100%;
transform-origin: 100% 100%;
}

img.profile{
position: absolute;
top: 20px;
right: 30px;
padding: 5px;
background: white;
box-shadow: 0px 0px 0px 7px #F3F3F3;
border: 1px solid #CCC;
}
</style>

<div class="banner span3 animated flipInX ">
    <div class="rand" style="height: 120px;width:120px;">
	    <% if(locals.tutor.img) {%> 
			<img src="/images/<%= locals.tutor.img %>" >
        <% } %>
	    <% if(!locals.tutor.img) {%> 
            <img src="/default_user.jpeg">
        <% } %>	    		
    </div>
	
    <div class="info">
        <span class="name">   <a href="/profile/<%= locals.tutor.name %>"> <%= locals.tutor.name %> </a> </span>
    </div>
			  
	<blockquote class="quote">
	    <% if(locals.tutor.about) {%> 
			locals.tutor.about
        <% } %>
	    <% if(!locals.tutor.about) {%> 
            
        <% } %>		
    </blockquote>



  <div class="widget span3   ">
    
    <div class=" section-graph">
      <div class="graph-info">
 
    <% if(locals.loggedin) { %> 	
		<div class="span3">
		    <% if(!locals.user.isStudent) { %> 			
                <form method="post" id="login-form" l  " action="/course/<%= locals.course._id %>/join" enctype="application/x-www-form-urlencoded">
                    <input type="hidden" name="_csrf" value="<%= token %>"/>
                    <button type="submit" id="btn-login" class="btn"><i class="icon-white"></i>Join The Course</button>
                </form> 
	        <% } %>	
	
             <% if(locals.user.isStudent) { %> 			
                <form method="post" id="login-form" action="/course/<%= locals.course._id %>/disjoin" enctype="application/x-www-form-urlencoded">
                    <input type="hidden" name="_csrf" value="<%= token %>"/>
                    <button type="submit" id="btn-login" class="btn"><i class="icon-white"></i>Sign Out</button>
                </form> 
	        <% } %>	  
		</div>  
    <% } %>
 
     
      </div>
      <div class="highcharts-container" id="highcharts-0" style="position: relative; overflow: hidden; width: 283px; height: 151px; text-align: left; line-height: normal; z-index: 0; font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif; font-size: 12px;">
	  </div>
    </div>

    </div>
  </div>
</div>